@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button,span{
  font-family: 'moraba';
  font-size: 1.6rem;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
  direction: rtl;
}

body{
  box-sizing: inherit;
  font-size: 1.8rem;
  font-family: 'poppin';
}

.containers{
  max-width:80% ;
  margin: auto;
}


@layer base {
  @font-face {
    font-family: 'moraba';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Morabba-Medium.woff2') format('woff2');
  };
  @font-face {
    font-family: 'morabaBold';
    font-style: bold;
    font-weight: 800;
    src: url('./fonts/Morabba-Bold.woff2') format('woff2');
  };
  @font-face {
    font-family: 'poppin';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Poppins-Black.ttf') format('ttf');
  };
  @font-face {
    font-family: 'poppinBold';
    font-style: normal;
    font-weight: bolder;
    src: url('./fonts/Poppins-SemiBold.ttf') format('ttf');
  };
  @font-face {
    font-family: 'iran';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/IRANSans_Medium.ttf') format('ttf');
  };
}
.slick-next {
  right: -2% !important;
}
.slick-prev {
  left: -2% !important;
}

@media (max-width: 400px) {
  .slick-slide img {
    width: 100vw;
  }
}