.image {
  display: flex;
  align-items: center;
  gap: 2%;
  margin: 2rem 0;
}
.box{
    width: 100%;
    margin-bottom: 2rem;
}
.imgBox{
    min-width: 15rem;
    object-fit: contain;
    border-radius: 1rem;
}
@media screen and (max-width: 1300px) {
  .image{
   gap: 1%;
  }
}
@media screen and (max-width: 1200px) {
  
}
 @media screen and (max-width: 750px) {
    .popular {
      overflow-x: scroll;
    }
  .image {
    gap: 1rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 950px) {
  .image {
    gap: 2;
  }
} 
.populatHeader{
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.swich_card{
    display: flex;
    width: 9rem;
    border: 1px solid gray;
    justify-content: space-between;
    align-items: center;
    border-radius: 5rem;
    margin-right: 1rem;
    overflow: hidden;
}
.btn{
    font-size: 1.3rem;
    width: 50%;
    height: 1.9rem;
    border: none;
    background-color: transparent;
}
.btn:hover{
    cursor: pointer;
}
.active{
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 5rem;
    border-radius: 5rem;
}